[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/abdk-libraries-solidity"]
	path = lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
