### Environment ###
/.env

### Java build artifacts ###
/src/generated/
/target/

### Node build artifacts ###
/node_modules
/package-lock.json

### Smart Contracts build artifacts ###
/app/src/contracts/
/contracts/oracles/artifacts/
/contracts/amm/artifacts/
/contracts/artifacts/
/contracts/interfaces/artifacts/
/contracts/libraries/types/artifacts/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Ganache data ###
/containers/ganache/ganache_data/

### macOS system files ###
.DS_Store

### Ansible build artifacts ###
/contracts.zip
