node_modules
build
app/src/contracts
.idea
.DS_Store
/src/java/generated/
/src/abi/generated/
/src/bin/generated/
/ipor-oracle.iml
/target/
/contracts/oracles/artifacts/
/contracts/amm/artifacts/
/contracts/artifacts/
/contracts/interfaces/artifacts/
/contracts/libraries/types/artifacts/
/ipor-protocol.iml
/.env
/package-lock.json
/src/generated/
/ganache_data/
/containers/ganache/ganache_data/
