milton_address: {{ milton_address }}
warren_address: {{ warren_address }}
milton_test_address: {{ milton_test_address }}
warren_test_address: {{ warren_test_address }}
milton_dev_tool_data_provider_address: {{ milton_dev_tool_data_provider_address }}
milton_frontend_data_provider_address: {{ milton_frontend_data_provider_address }}
dai_mocked_address: {{ dai_mocked_address }}
usdc_mocked_address: {{ usdc_mocked_address }}
usdt_mocked_address: {{ usdt_mocked_address }}
