milton_usdt_address: "{{ milton_usdt_address }}"
milton_usdc_address: "{{ milton_usdc_address }}"
milton_dai_address: "{{ milton_dai_address }}"
ipor_oracle_address: "{{ ipor_oracle_address }}"
joseph_usdt_address: "{{ joseph_usdt_address }}"
joseph_usdc_address: "{{ joseph_usdc_address }}"
joseph_dai_address: "{{ joseph_dai_address }}"
itf_milton_usdt_address: "{{ itf_milton_usdt_address }}"
itf_milton_usdc_address: "{{ itf_milton_usdc_address }}"
itf_milton_dai_address: "{{ itf_milton_dai_address }}"
itf_ipor_oracle_address: "{{ itf_ipor_oracle_address }}"
itf_joseph_usdt_address: "{{ itf_joseph_usdt_address }}"
itf_joseph_usdc_address: "{{ itf_joseph_usdc_address }}"
itf_joseph_dai_address: "{{ itf_joseph_dai_address }}"
cockpit_data_provider_address: "{{ cockpit_data_provider_address }}"
milton_facade_data_provider_address: "{{ milton_facade_data_provider_address }}"
ipor_oracle_facade_data_provider_address: "{{ ipor_oracle_facade_data_provider_address }}"
dai_mocked_address: "{{ dai_mocked_address }}"
usdc_mocked_address: "{{ usdc_mocked_address }}"
usdt_mocked_address: "{{ usdt_mocked_address }}"
milton_storage_usdt_address: "{{ milton_storage_usdt_address }}"
milton_storage_usdc_address: "{{ milton_storage_usdc_address }}"
milton_storage_dai_address: "{{ milton_storage_dai_address }}"
milton_spread_model_address: "{{ milton_spread_model_address }}"
testnet_faucet_address: "{{ testnet_faucet_address }}"
ipor_ip_token_usdc_address: "{{ ipor_ip_token_usdc_address }}"
ipor_ip_token_usdt_address: "{{ ipor_ip_token_usdt_address }}"
ipor_ip_token_dai_address: "{{ ipor_ip_token_dai_address }}"
stanley_usdc_address: "{{ stanley_usdc_address }}"
stanley_usdt_address: "{{ stanley_usdt_address }}"
stanley_dai_address: "{{ stanley_dai_address }}"
itf_data_provider: "{{ itf_data_provider }}"
