milton_usdt_address: "{{ milton_usdt_address }}"
milton_usdc_address: "{{ milton_usdc_address }}"
milton_dai_address: "{{ milton_dai_address }}"
warren_address: "{{ warren_address }}"
joseph_usdt_address: "{{ joseph_usdt_address }}"
joseph_usdc_address: "{{ joseph_usdc_address }}"
joseph_dai_address: "{{ joseph_dai_address }}"
itf_milton_usdt_address: "{{ itf_milton_usdt_address }}"
itf_milton_usdc_address: "{{ itf_milton_usdc_address }}"
itf_milton_dai_address: "{{ itf_milton_dai_address }}"
itf_warren_address: "{{ itf_warren_address }}"
itf_joseph_usdt_address: "{{ itf_joseph_usdt_address }}"
itf_joseph_usdc_address: "{{ itf_joseph_usdc_address }}"
itf_joseph_dai_address: "{{ itf_joseph_dai_address }}"
milton_dev_tool_data_provider_address: "{{ milton_dev_tool_data_provider_address }}"
milton_frontend_data_provider_address: "{{ milton_frontend_data_provider_address }}"
warren_dev_tool_data_provider_address: "{{ warren_dev_tool_data_provider_address }}"
warren_frontend_data_provider_address: "{{ warren_frontend_data_provider_address }}"
dai_mocked_address: "{{ dai_mocked_address }}"
usdc_mocked_address: "{{ usdc_mocked_address }}"
usdt_mocked_address: "{{ usdt_mocked_address }}"
milton_storage_usdt_address: "{{ milton_storage_usdt_address }}"
milton_storage_usdc_address: "{{ milton_storage_usdc_address }}"
milton_storage_dai_address: "{{ milton_storage_dai_address }}"
milton_spread_model_address: "{{ milton_spread_model_address }}"
milton_faucet_address: "{{ milton_faucet_address }}"
ipor_configuration_address: "{{ ipor_configuration_address }}"
ipor_asset_configuration_usdc_address: "{{ ipor_asset_configuration_usdc_address }}"
ipor_asset_configuration_usdt_address: "{{ ipor_asset_configuration_usdt_address }}"
ipor_asset_configuration_dai_address: "{{ ipor_asset_configuration_dai_address }}"
ipor_ip_token_usdc_address: "{{ ipor_ip_token_usdc_address }}"
ipor_ip_token_usdt_address: "{{ ipor_ip_token_usdt_address }}"
ipor_ip_token_dai_address: "{{ ipor_ip_token_dai_address }}"
