.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.ipor-navbar {
  margin-left: 15px!important;
}

.table {
    border: 1px solid black;
}
.table tr {
    border: 1px solid black;
}
