name: Build geth image

on:
  workflow_call:

    secrets:
      AWS_ACCESS_KEY_ID:
        required: false
      AWS_SECRET_ACCESS_KEY:
        required: false

    inputs:

      image-type:
        description: 'The type of created image'
        type: choice
        options:
          - itf
          - s0/s12
        default: itf

      branch:
        description: 'Git repository branch name from which image will be built'
        type: string
        default: main

      aws-region:
        description: 'AWS region used by ECR'
        type: string
        default: eu-central-1

jobs:

  migrations:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        shell: bash

    steps:

      - name: Checkout
        # from tag: v3.0.0
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Setup node
        # from tag: v3.2.0
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048
        with:
          node-version: 16.15.0

      - name: Set up node_modules cache
        # from tag: v2.1.7
        uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Set up truffle cache
        # from tag: v2.1.7
        uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed
        with:
          path: "~/.config/truffle"
          key: ${{ runner.os }}-truffle-config-${{ hashFiles('**/package-lock.json') }}

      - name: Set up docker cache
        # from tag: v0.0.11
        uses: satackey/action-docker-layer-caching@46d2c640b1d8ef50d185452ad6fb324e6bd1d052
        continue-on-error: true

      - name: Create python requirements file
        run: echo "j2cli==0.3.10" > requirements.txt

      - name: Set up python
        # from tag: v4.0.0
        uses: actions/setup-python@d09bd5e6005b175076f227b13d9730d56e9dcfcb
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install python requirements
        run: pip install -r requirements.txt

      - name: Set up AWS credentials
        # from tag: v1.6.1
        uses: aws-actions/configure-aws-credentials@05b148adc31e091bafbaf404f745055d4d3bc9d2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.aws-region }}

      - name: Login to ECR
        id: login-ecr
        # from tag: v1.4.0
        uses: aws-actions/amazon-ecr-login@3d4e073ce6a6845ed27b30a0fe05b6e22c80ac6b

      - name: Install node dependencies
        run: npm install

      - name: Create geth images
        run: ./run.sh cgi "${{ inputs.image-type }}" "${{ inputs.branch }}"
