name: Build smart contracts

on:
    workflow_call:

jobs:
    smart-contracts:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              # from tag: v3.0.0
              uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

            - name: Setup node
              # from tag: v3.2.0
              uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048
              with:
                  node-version: 16.15.0

            - name: Set up node_modules cache
              # from tag: v2.1.7
              uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed
              with:
                  path: "**/node_modules"
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

            - name: Install
              run: npm install

            - name: Hardhat compile
              run: npm run compile:hardhat

            - name: Tests
              run: npm run test
              env:
                  HARDHAT_FORKING_URL: ${{ secrets.HARDHAT_FORKING_URL }}
