name: Tests in foundry

on:
  workflow_call:
    secrets:
      FORK_URL:
        required: false

    inputs:

      node-version:
        description: "NodeJS version"
        type: string
        default: 18.15.0
        required: false

      test-enabled:
        description: "Enable Forge tests"
        type: boolean
        default: true
        required: false

      fork-test-enabled:
        description: "Enable Forge fork tests"
        type: boolean
        default: true
        required: false

      test-options:
        description: "Extra options in Forge test command"
        type: string
        default: ""
        required: false

      fork-test-options:
        description: "Extra options in Forge fork test command"
        type: string
        default: ""
        required: false

jobs:
  foundry-tests:
    runs-on:
      group: foundry-build

    steps:
      - name: Checkout
        # from tag: v4.1.1
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          submodules: recursive

      - name: Setup node
        # from tag: v4.0.0
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: ${{ inputs.node-version }}

      - name: Set up node_modules cache
        # from tag: v3.3.2
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install
        run: npm install

      - name: Install Foundry
        # from tag: v1.0.10-ipor-v1
        uses: IPOR-Labs/foundry-toolchain@d9760eeeaf64fdac14339e530358e15925d2997c
        with:
          version: nightly-ba6c85112f4c34fc8eb081645bad278f48343ec4

      - name: Run Forge build
        run: |
          forge --version
          forge build
        id: build

      - name: Run Forge tests
        if: inputs.test-enabled
        env:
          FORK_URL: ${{ secrets.FORK_URL }}
          PROVIDER_URL: ${{ secrets.FORK_URL }}
        run: |
          forge test ${{ inputs.test-options }} -vvv
        id: test

      - name: Run Forge fork tests
        if: inputs.fork-test-enabled
        env:
          FORK_URL: ${{ secrets.FORK_URL }}
          PROVIDER_URL: ${{ secrets.FORK_URL }}
        run: |
          forge test ${{ inputs.fork-test-options }} --fork-url ${{ secrets.FORK_URL }} -vvv
        id: fork-test
