name: Slack notify

on:
  workflow_call:

    secrets:
      SLACK_BOT_TOKEN:
        required: true

    inputs:

      status-slack-channel-name:
        description: 'Slack channel name used for jobs statuses'
        type: string
        default: github-ci
        required: false

      src-actor:
        description: 'Optional actor from the source workflow that triggered this build'
        type: string
        default: ""
        required: false

      src-repository:
        description: 'Optional repository from the source workflow that triggered this build'
        type: string
        default: ""
        required: false

      src-workflow:
        description: 'Optional workflow name from the source workflow that triggered this build'
        type: string
        default: ""
        required: false

      src-run-url:
        description: 'Optional workflow run URL from the source workflow that triggered this build'
        type: string
        default: ""
        required: false

    outputs:

      slack-status-msg-id:
        description: "Slack status message id"
        value: ${{ jobs.slack.outputs.slack-status-msg-id }}

      branch-name:
        description: "Slack status message id"
        value: ${{ jobs.slack.outputs.branch-name }}

jobs:

  slack:
    runs-on: ubuntu-latest
    outputs:
      slack-status-msg-id: ${{ steps.slack-status.outputs.message_id }}
      branch-name: ${{ steps.branch.outputs.branch-name }}
    steps:

    - name: Get branch
      id: branch
      shell: bash
      run: |
        if [ ${{ github.event_name }} = "pull_request" ]; then
          echo "branch-name=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT
        else
          echo "branch-name=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        fi

    - name: Slack status start
      id: slack-status
      # from tag: v1.6.0-ipor-v2
      uses: IPOR-Labs/github-action-slack-notify-build@56a99a384d13bd55342db60fdf956d12d17fcbb7
      with:
        channel: ${{ inputs.status-slack-channel-name }}
        status: STARTING
        color: warning
        src_actor: ${{ inputs.src-actor }}
        src_repository: ${{ inputs.src-repository }}
        src_workflow: ${{ inputs.src-workflow }}
        src_run_url: ${{ inputs.src-run-url }}
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
